// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ABOUT PAGE */

#link-results {
	width: 50%; 
	padding: 30px 50px;
	color:white;
	background-color: red;
	text-align: center;
	border-radius: 30px;
	display:none;
}